{% extends 'layoute.html' %}
{% load static %}

{% block title %}
    <title>Главная страница</title>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Заголовок для первой группы карточек -->
    <h3 class="text-left mb-4">Специальное предложение</h3>
    <div class="row">
        <!-- Первая карточка -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-img-wrapper">
                    <img class="card-img-top" src="{% static 'img/image1.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Лиловый комплимент</h5>
                    <p class="card-text" data-price="4550">4550 руб.</p>
                    <a href="#" class="btn btn-success" onclick="addToBasket('Лиловый комплимент', 4550, '{% static 'img/image1.jpg' %}')">Заказать</a>
                </div>
            </div>
        </div>
        <!-- Вторая карточка -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-img-wrapper">
                    <img class="card-img-top mx-auto" src="{% static 'img/image2.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Раннее утро</h5>
                    <p class="card-text" data-price="3600">3600 руб.</p>
                    <a href="#" class="btn btn-success" onclick="addToBasket('Раннее утро', 3600, '{% static 'img/image2.jpg' %}')">Заказать</a>
                </div>
            </div>
        </div>
        <!-- Третья карточка -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-img-wrapper">
                    <img class="card-img-top mx-auto" src="{% static 'img/image3.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Цветочная ладья</h5>
                    <p class="card-text" data-price="4290">4290 руб.</p>
                    <a href="#" class="btn btn-success" onclick="addToBasket('Цветочная ладья', 4290, '{% static 'img/image3.jpg' %}')">Заказать</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Заголовок для второй группы карточек -->
    <h3 class="text-left mb-4">Свадебные букеты</h3>
    <div class="row">
        <!-- Четвертая карточка -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-img-wrapper">
                    <img class="card-img-top mx-auto" src="{% static 'img/image4.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Свадебный букет №1</h5>
                    <p class="card-text" data-price="8700">8700 руб.</p>
                    <a href="#" class="btn btn-success" onclick="addToBasket('Свадебный букет №1', 8700, '{% static 'img/image4.jpg' %}')">Заказать</a>
                </div>
            </div>
        </div>
        <!-- Пятая карточка -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-img-wrapper">
                    <img class="card-img-top mx-auto" src="{% static 'img/image5.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Свадебный букет №2</h5>
                    <p class="card-text" data-price="5625">5625 руб.</p>
                    <a href="#" class="btn btn-success" onclick="addToBasket('Свадебный букет №2', 5625, '{% static 'img/image5.jpg' %}')">Заказать</a>
                </div>
            </div>
        </div>
        <!-- Шестая карточка -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-img-wrapper">
                    <img class="card-img-top mx-auto" src="{% static 'img/image6.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Свадебный букет №3</h5>
                    <p class="card-text" data-price="6890">6890 руб.</p>
                    <a href="#" class="btn btn-success" onclick="addToBasket('Свадебный букет №3', 6890, '{% static 'img/image6.jpg' %}')">Заказать</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Уведомление -->
<div id="notification" style="display: none; position: fixed; top: 10px; right: 10px; background-color: #333; color: #fff; padding: 10px; border-radius: 5px; z-index: 1000;">
    <span id="notification-message"></span>
</div>

<script>
    function showNotification(message) {
        const notification = document.getElementById('notification');
        const notificationMessage = document.getElementById('notification-message');

        notificationMessage.textContent = message;
        notification.style.display = 'block';

        setTimeout(() => {
            notification.style.display = 'none';
        }, 2000);
    }

    function addToBasket(name, price, image) {
        let basket = JSON.parse(localStorage.getItem('basket') || '[]');
        basket.push({ name, price, image });
        localStorage.setItem('basket', JSON.stringify(basket));
        showNotification(name + ' добавлен в корзину.');
    }
</script>
{% endblock %}