.card-img-top {
       width: 150px; /* Устанавливаем фиксированную ширину */
       height: 150px; /* Устанавливаем фиксированную высоту */
       object-fit: cover; /* Обеспечиваем сохранение пропорций изображения */
   }