.card-img-top {
    width: 500px; /* Увеличиваем ширину изображения */
    height: 500px; /* Увеличиваем высоту изображения */
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px; /* Увеличиваем высоту контейнера для изображения */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px; /* Добавляем отступы, чтобы увеличить размер карточки */
}